a.navbar-brand {
	color : #1E1E1E;
	font-size : 17px;
	font-family : Tajawal;
}

#T1:hover , #T2:hover , #T3:hover , #T4:hover , #T5:hover , #T6:hover , #T7:hover {
    color:#0D7258;
   text-decoration-line: underline;
   text-underline-offset: 40px;
}

div.container {
	width : 66%;
	background-color: #ffffff;	
}

div.Footer {
	
	background-color : #333E48;
	height : 300px;
	color : #F0F0F0;
	font-size : 18px;
	font-family : Tajawal;	
}

#Cnt {

	font-size : 22px;
	font-family : Tajawal;

}

#SUB {

	color : #BDC0C2;
	background-color:#2E3841;
	margin-right:310px;	
}

div.BTN {
	align-items-center;
	color : #BDC0C2;
	background-color:#2E3841; 
}

#TIT {
	margin-left:19%;
	height:150px;	
}

#meet {
	margin-left:30%;
}


#btn-txt1 {

	font-family:tajawal;
	font-size : 16px;
}

#btn-txt2 {

	font-family:tajawal;
	font-size : 22px;
}

#btn-txt1.p {

	font-family:tajawal;
	font-size : 160px;
}

.search-container {
  position: absolute;
  top: 25px;
  right: 300px;
  display: inline-block;
}

.search-container .search {
  transition: all 1s;
  z-index: 4;
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  right: -55px;
}

.search-container .search:hover {
  cursor: pointer;
}

.search-container .search::before {
  content: "";
  position: absolute;
  top: 36px;
  right: 0;
  bottom: 0;
  left: 28px;
  width: 12px;
  height: 2px;
  background: #ccc;
  transform: rotate(45deg);
  transition: all .5s;
}

.search-container .search::after {
  content: "";
  position: absolute;
  top: 8px;
  right: 0;
  bottom: 0;
  left: 8px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ccc;
  transition: all .5s;
}

.search-container input {
  width: 50px;
  height: 50px;
  outline: none;
  border-bottom: 1px solid #ccc;
  color: #ccc;
  padding: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
  box-sizing: border-box;
}

.search-container input:hover {
  cursor: pointer;
}

.search-container.active input {
  width: 300px;
  opacity: 1;
  cursor: text;
  padding: 0 0 0 50px;
}

.search-container .close {
  transition: all 1s;
  z-index: 4;
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: middle;
  right: 55px;
  visibility: hidden;
}

.search-container.active input~.close {
  right: 55px;
  z-index: 6;
  visibility: visible;
}



.search-container input::placeholder {
  color: #898989;
  opacity: 0.5;
  font-weight: bolder;
}

.search-container .input-box {
  vertical-align: middle;
  display: inline-block;
}
